Thesis/MA_Main.aux
Thesis/MA_Main.bbl
Thesis/MA_Main.bcf
Thesis/MA_Main.blg
Thesis/MA_Main.fdb_latexmk
Thesis/MA_Main.fls
Thesis/MA_Main.lof
Thesis/MA_Main.log
Thesis/MA_Main.lot
Thesis/MA_Main.out
Thesis/MA_Main.pdf
Thesis/MA_Main.run.xml
Thesis/MA_Main.synctex.gz
Thesis/MA_Main.toc

# Images

Thesis/images/*.pdf

# Temp files

*ERROR
*(busy)
Paper/conference_101719.pdf
Paper/IEEEtran_HOWTO.pdf

# Paper
Paper/conference_101719.aux
Paper/conference_101719.bbl
Paper/conference_101719.bcf
Paper/conference_101719.blg
Paper/conference_101719.fdb_latexmk
Paper/conference_101719.fls
Paper/conference_101719.lof
Paper/conference_101719.log
Paper/conference_101719.lot
Paper/conference_101719.out
Paper/conference_101719.pdf
Paper/conference_101719.run.xml
Paper/conference_101719.synctex.gz
Paper/conference_101719.toc