Thesis/MA_Main.aux
Thesis/MA_Main.bbl
Thesis/MA_Main.bcf
Thesis/MA_Main.blg
Thesis/MA_Main.fdb_latexmk
Thesis/MA_Main.fls
Thesis/MA_Main.lof
Thesis/MA_Main.log
Thesis/MA_Main.lot
Thesis/MA_Main.out
Thesis/MA_Main.pdf
Thesis/MA_Main.run.xml
Thesis/MA_Main.synctex.gz
Thesis/MA_Main.toc

# Images

Thesis/images/*.pdf

# Temp files

*ERROR
*(busy)
